#Clase 5

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("ggplot")
import numpy as np
from Bio import SeqIO

## Buscar un fragmento de secuencia dentro de otra

In [2]:
query  = list(SeqIO.parse("archivos_clase5/query.fa", "fasta"))
target = list(SeqIO.parse("archivos_clase5/target.fa", "fasta"))

In [3]:
len(query)

9

In [4]:
len(target)

1

In [8]:
str(target[0].seq)

'CCCAGCTCAGCTCAGCTCAGCCTAGACTGAGCTGAACTGGGTGAGCTTGGCTGAGCTGAGCTGGGCTTGACTGCACTGAGCTGGACTGGCCTGGGCTGGGCCCCAGCTCAGCTCAGCTCAGCCTAGACTGAGCTGAACTGGGTGAGCTTGG'

In [15]:
buenas = list()
malas = list()
for secuencia in query:
    if str(secuencia.seq) in str(target[0].seq):
        print(secuencia.id, "Si esta")
        buenas.append(secuencia)
    else:
        print(secuencia.id, "no esta")
        malas.append(secuencia)

query0 Si esta
query1 Si esta
query2 no esta
query3 no esta
query4 no esta
query5 no esta
query6 no esta
query7 no esta
query8 no esta

In [16]:
len(buenas)

2

In [17]:
len(malas)

7

In [18]:
buenas

[SeqRecord(seq=Seq('CCCAGCTCAGCTCAGCTCAGCCTAGACTGAGCTGAACTGGGTGAGCTTGG', SingleLetterAlphabet()), id='query0', name='query0', description='query0', dbxrefs=[]),
 SeqRecord(seq=Seq('CTGAGCTGAGCTGGGCTTGACTGCACTGAGCTGGACTGGCCTGGGCTGGGC', SingleLetterAlphabet()), id='query1', name='query1', description='query1', dbxrefs=[])]

## trabajar con los archivos de uclust

In [23]:
tabla = pd.read_table("archivos_clase5/clusters.uc", sep="\t", header=None)

In [24]:
tabla.head()

   0  1   2      3  4  5  6  7               8               9
0  S  0  45      *  *  *  *  *  LM1AYCV99A0BXJ               *
1  H  0  45  100.0  .  0  0  =  LM1AYCV99BDZXW  LM1AYCV99A0BXJ
2  H  0  45  100.0  .  0  0  =  LM1AYCV99AVPRO  LM1AYCV99A0BXJ
3  H  0  45  100.0  .  0  0  =  LM1AYCV99A7X8M  LM1AYCV99A0BXJ
4  H  0  45  100.0  .  0  0  =  LM1AYCV99A4VOE  LM1AYCV99A0BXJ

In [25]:
tabla.tail()

      0     1  2  3  4  5  6  7               8  9
3260  C  1072  1  *  *  *  *  *  LM1AYCV99A32DY  *
3261  C  1073  1  *  *  *  *  *  LM1AYCV99BC7UB  *
3262  C  1074  1  *  *  *  *  *  LM1AYCV99AL20N  *
3263  C  1075  1  *  *  *  *  *  LM1AYCV99BAG1B  *
3264  C  1076  1  *  *  *  *  *  LM1AYCV99AOSG3  *

In [29]:
df = tabla.get(tabla[0] != "C")

In [30]:
df.tail()

      0     1   2  3  4  5  6  7               8  9
2183  S  1072  59  *  *  *  *  *  LM1AYCV99A32DY  *
2184  S  1073  51  *  *  *  *  *  LM1AYCV99BC7UB  *
2185  S  1074  63  *  *  *  *  *  LM1AYCV99AL20N  *
2186  S  1075  60  *  *  *  *  *  LM1AYCV99BAG1B  *
2187  S  1076  60  *  *  *  *  *  LM1AYCV99AOSG3  *

In [31]:
temp = df.get(df[0] == "S")

In [32]:
temp.head()

    0  1   2  3  4  5  6  7               8  9
0   S  0  45  *  *  *  *  *  LM1AYCV99A0BXJ  *
21  S  1  42  *  *  *  *  *  LM1AYCV99A95VY  *
37  S  2  45  *  *  *  *  *  LM1AYCV99AKUJ9  *
52  S  3  48  *  *  *  *  *  LM1AYCV99BATYD  *
64  S  4  45  *  *  *  *  *  LM1AYCV99AM2FF  *

In [33]:
indices = temp.index

In [34]:
indices

Int64Index([   0,   21,   37,   52,   64,   76,   86,   96,  105,  114,
            ...
            2174, 2177, 2179, 2181, 2182, 2183, 2184, 2185, 2186, 2187],
           dtype='int64', length=1077)

In [58]:
temp.iat[37, 0] = "S"

In [59]:
temp.loc[308][0]

'S'

In [60]:
temp.get(temp[0] == "C")

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Index: []

In [62]:
for i in indices:
    valor = temp.loc[i][8]
    df.iat[i, 9] = valor

In [63]:
df.head()

   0  1   2      3  4  5  6  7               8               9
0  S  0  45      *  *  *  *  *  LM1AYCV99A0BXJ  LM1AYCV99A0BXJ
1  H  0  45  100.0  .  0  0  =  LM1AYCV99BDZXW  LM1AYCV99A0BXJ
2  H  0  45  100.0  .  0  0  =  LM1AYCV99AVPRO  LM1AYCV99A0BXJ
3  H  0  45  100.0  .  0  0  =  LM1AYCV99A7X8M  LM1AYCV99A0BXJ
4  H  0  45  100.0  .  0  0  =  LM1AYCV99A4VOE  LM1AYCV99A0BXJ

In [64]:
grouped = df.groupby([9])

In [70]:
size = grouped.size()

In [71]:
size.sort()

In [72]:
size

9
LM1AYCV99BFEPW     1
LM1AYCV99ALHB9     1
LM1AYCV99ALHCP     1
LM1AYCV99AX6JF     1
LM1AYCV99ALHJ0     1
LM1AYCV99AX4S3     1
LM1AYCV99AX49Y     1
LM1AYCV99ALKL0     1
LM1AYCV99AWZ9Y     1
LM1AYCV99AWXJV     1
LM1AYCV99ALLCF     1
LM1AYCV99ALNHD     1
LM1AYCV99ALNRM     1
LM1AYCV99ALS9C     1
LM1AYCV99ALSD9     1
LM1AYCV99ALTFL     1
LM1AYCV99ALUHG     1
LM1AYCV99ALY4V     1
LM1AYCV99ALGLD     1
LM1AYCV99ALYSC     1
LM1AYCV99ALGB1     1
LM1AYCV99ALEVZ     1
LM1AYCV99AKRGL     1
LM1AYCV99AXQ69     1
LM1AYCV99AXQ1G     1
LM1AYCV99AXNB1     1
LM1AYCV99AKW6W     1
LM1AYCV99AKXKG     1
LM1AYCV99AXMA8     1
LM1AYCV99AL1CR     1
                  ..
LM1AYCV99AYQ5Y     7
LM1AYCV99AK025     8
LM1AYCV99ATGB2     8
LM1AYCV99A0DQY     8
LM1AYCV99A60FG     8
LM1AYCV99AYN9W     8
LM1AYCV99A9NLP     8
LM1AYCV99A8QG6     8
LM1AYCV99AUU45     8
LM1AYCV99BECOE     8
LM1AYCV99A641X     9
LM1AYCV99AQ3VR     9
LM1AYCV99AJLLZ    10
LM1AYCV99BAWDL    10
LM1AYCV99AQZBS    10
LM1AYCV99BBBPV    10
LM1AYCV99A3E7Z    10
LM1AYCV99AXVCZ    10
LM1AYCV99AQKQ3    11
LM1AYCV99A25EN    11
LM1AYCV99BCEDE    11
LM1AYCV99AZV1W    11
LM1AYCV99A45H2    11
LM1AYCV99ALTKZ    12
LM1AYCV99AM2FF    12
LM1AYCV99BATYD    12
LM1AYCV99BAR2R    15
LM1AYCV99AKUJ9    19
LM1AYCV99A95VY    24
LM1AYCV99A0BXJ    34
dtype: int64

In [74]:
for name, group in grouped:
    print(name)
    print(group)
    print("----------------------")
    break

LM1AYCV99A00CR
      0    1   2      3  4  5  6  7               8               9
1124  S  304  30      *  *  *  *  *  LM1AYCV99A00CR  LM1AYCV99A00CR
1125  H  304  30  100.0  .  0  0  =  LM1AYCV99A4PXA  LM1AYCV99A00CR
----------------------

### Como crear un perfil en ipython

ipython profile create miperfil

editar el archivo del perfil: .ipython/profile_miperfil/ipython_config.py

ipython --profile=miperfil